

@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');




.register-background{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("/assets/ppt.png");
    background-position:center bottom;
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

.register-container{
    width: 50vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center ;
    flex-direction: column;
    padding-bottom: 360px;
    
  
}

.register-container form{
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 80%;

    
}
.register-container input{
    width: 80%;
    display: flex;
    border-radius: 7px;
    height: 30px;
    border-color: transparent;
    background-color: #F5FFFA;

    
 
}
.register-container input#login{
    margin-bottom: 20px;
}
.register-container a{
    margin-top: 40px;
    border-radius: 7px;
    border-color: transparent;
    width: 80%;
    height: 35px;
    background-color: #FFD700;
    font-weight: bold;
    transition: 1000ms;
    font-family: 'Krona One', sans-serif;
    text-decoration: none;
    color: black;
    align-items: center;
    justify-content: center;
    display: flex;
}

.register-container a:hover{

    background-color: #FFD700;
    filter: brightness(80%);
}

.register-container a#register-login{
    margin-top: 40px;
    border-radius: 7px;
    border-color: transparent;
    width: 100%;
    height: 35px;
    background-color: #00FA9A;
    font-weight: bold;
    transition: 1000ms;
    font-family: 'Krona One', sans-serif;

}

#register-container-login{
    width: 64%;
}

.register-container a#register-login :hover{

    background-color: #00FA9A;
    filter: brightness(80%);
}

.register-container label{
    font-size: 30px;
    color: white;
    font-family: 'Krona One', sans-serif;

}

#register-title{

    color: #FFD700;
    font-size: 40px;
    font-family: 'Krona One', sans-serif;
    margin-bottom: 50px;
}

