

@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');


*{
    
   
}

.login-background{
    font-family: Arial, Helvetica, sans-serif;

 
    background-image: url("/assets/loginppt.png");
  
    background-position:center bottom;
    background-repeat: repeat;
    
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;

    
    
}

.login-container{
    width: 50vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    padding-bottom: 320px;
    flex-direction: column;
  
}

.login-container form{
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 80%;

   
    
}
.login-container input{
    width: 80%;
    display: flex;
    border-radius: 7px;
    height: 30px;
    border-color: transparent;
    background-color: #F5FFFA;

    
 
}
.login-container input#login-username{
    margin-bottom: 20px;
}
.login-container button{
    margin-top: 40px;
    border-radius: 7px;
    border-color: transparent;
    width: 80%;
    height: 35px;
    background-color: #F5FFFA;
    font-weight: bold;
    transition: 1000ms;
    font-family: 'Krona One', sans-serif;

}

#login-container-cadastrar{
    

    width: 64%;
}
.login-container button#login-cadastrar{

    
    margin-top: 40px;
    border-radius: 7px;
    border-color: transparent;
    width: 100%;
    height: 35px;
    background-color: #FFD700;
    font-weight: bold;
    transition: 1000ms;
    font-family: 'Krona One', sans-serif;
} 
.login-container button:hover{

    background-color: #28B4E5;
    filter: brightness(80%);
    cursor: pointer;
}

button#login-cadastrar :hover{

    cursor: pointer;
    background-color: #FFD700;
    filter: brightness(80%);
}

.login-container label{
    font-size: 30px;
    color: #F5FFFA;
    font-family: 'Krona One', sans-serif;

}

#login-title{

    color: #FFD700;
    font-size: 40px;
    font-family: 'Krona One', sans-serif;
    margin-bottom: 50px;
}

